@font-face {
  font-family: 'Futura';
  src: url('/fonts/futurastd-book-webfont.eot');
  src: url('/fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/futurastd-book-webfont.woff') format('woff'), url('/fonts/futurastd-book-webfont.ttf') format('truetype'), url('/fonts/futurastd-book-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Futura, Arial, sans-serif;
  font-size: 12px;
  margin: 0 0 105px 0;
  padding: 0;
}
header {
  text-align: center;
}
header .logo {
  display: inline-block;
  margin: 30px 0;
}
header .logo .letter {
  font-weight: bold;
  font-size: 32px;
  color: white;
  float: left;
  border-radius: 27px;
  width: 42px;
  height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 5px;
  visibility: hidden;
}
header .logo .lightGreen {
  background: greenyellow;
}
header .logo .purple {
  background: #800080;
}
header .logo .orange {
  background: orange;
}
header .logo .green {
  background: #008000;
}
header .logo .blue {
  background: #0000ff;
}
header .logo .red {
  background: darkred;
}
.content {
  background: url("../img/bg.jpg") no-repeat right 15px;
  min-height: 393px;
  width: 980px;
  margin: 0 auto;
}
.content .triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 35px solid #1c8bc2;
  border-right: 477px solid transparent;
}
.content .text {
  width: 477px;
}
.content .text .text-muted {
  background: #1c8bc2;
  color: white;
  padding: 25px 20px 45px 38px;
  text-align: left;
}
.content .text .text-muted h1 {
  line-height: 1;
  margin-top: 0;
}
.content .text .text-muted p {
  margin: 28px 0 0 0;
}
.content .text .text-muted a {
  color: white;
  text-decoration: underline;
}
.content .text .text-muted a:hover {
  color: white;
  text-decoration: none;
}
.content .triangle-topleft {
  width: 0;
  height: 0;
  border-top: 35px solid #1c8bc2;
  border-right: 477px solid transparent;
}
.form {
  padding: 75px 10px;
  width: 100%;
  text-align: center;
}
.form .title {
  color: #525252;
  font-size: 16px;
  font-weight: bold;
}
.form .form-inline {
  margin-top: 25px;
}
.form .form-inline .form-control {
  text-align: center;
  border-radius: 18px;
  min-width: 280px;
  height: 40px;
  margin-right: 15px;
  color: #c1c1c1;
  border: 1px solid #c1c1c1;
}
.form .form-inline .form-control::-webkit-input-placeholder {
  color: #c1c1c1;
}
.form .form-inline .btn {
  border-radius: 18px;
  background: #43af4a;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 105px;
  background-color: #f0f4f7;
  background: linear-gradient(to top, #f0f4f7, #ffffff);
}
footer .container {
  padding: 0;
  text-align: center;
  margin-top: 35px;
}
footer .container p {
  margin: 0;
  color: #696a6c;
  font-size: 14px;
}

@media (max-width: 980px) {
  .content {
    background: none;
    width: auto;
    min-height: inherit;
    text-align: center;
  }
  .content .block {
    display: inline-block;
  }
}
