@media (max-width: 980px){
    .content{
        background: none;
        width: auto;
        min-height:inherit;
        text-align: center;
        .block{
            display: inline-block;
        }
    }
}